@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.container{
    display: flex;
    width: 60%;
    margin: 0 auto;
    transition: 0.5s;
}

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ff5500;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  #goToTopBtn:hover {
    background-color: #555;
  }

body > header {
    
    position: fixed;
    background-color: #fff;
    top: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 99999;
}


  .header-content {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        color: black;
        font-weight: 400;
        width: 100%;
        box-shadow: 0px 4px 1px 2px rgba(0, 0, 0, 0.25);
    }
        .main-logo{
            font-size: 18px;
            display: flex;
            width: 30%;
            align-items: center;
            justify-content: center;
        
        }

        .main-navigation {
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;
            width: 70%;
            justify-content: end;

          
        }

        li {
            display: inline;
            padding: 10px;
           
        }

        li.main-navigation__home{
            
           
            border-right: 1px dotted rgb(211, 204, 204);

        }

        li a {
            color: rgb(73, 67, 67);  
            font-size: 14px; 
            cursor: pointer;
            transition: 0.3s;
            font-weight: 200;
            text-decoration: none;
         
        }

        li a:hover {
            color: #ff5500;
        }
    body > main {
        margin: 155px auto 155px auto;
        /* height: 100%; */
        flex: 1 0 auto;
    }
        .room{
            display: block;
            width: 100%;
        }

            .room-details{
                /* width: 100%; */
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #ff5500;
                border-radius: 4px;
                margin-bottom: 15px;
                padding: 0 10px;
                color: #fff;
                font-weight: 300;
            }

            .room-details-left{
                display: flex;
                align-items:center;
                justify-content: flex-start;
                margin: 10px 0;
            }

            .room-details-left div{
                margin-right: 5px;
            }
            .rating-reviews {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5px;
                border-right: 2px solid rgb(211, 204, 204);
                border-left: 2px solid rgb(211, 204, 204);
                
            }
                .star-reviews{
                    margin: auto;
                    padding: 2px;
                }
                .star-reviews li {
                    display: inline;
                    padding: 1px 1px;
                
                }

            .favoriteForm i{
                cursor: pointer;
                transition: all 0.2s;
            }

            .favoriteForm i:hover{
                color:#f1c707;
                transform: scale(1.3);
            }

            .is-favorite{
                color:#f1c707;
                transform: scale(1.3);
            }

        .room-image{
            width: 60%; 
            height: auto;
            margin: 5px 0;
        }
            .room-image img{
                max-width:100%;
            }

            .room-data{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 5px 5px;
                border-right: 2px dashed #ff5500;;
            }

            .room-data p{
                text-align: center;
            }

            .room-data:last-child{
                border: none;
            }


            .room-data i{
                font-size: 20px;
                font-style: normal;
            }

            .room-data p{
                margin: 0 0 5px 0;
                font-size: 14px;
            }

            .room-data p:first-child{
                font-size: 1.5em;
                font-style: normal;
                margin: 0;
            }

            .border-left{
                padding: 0 15px;
                margin: 15px 0 30px 0;
                border-left: 2px solid #ff5500;

            }

    .room-booking {
        display: flex;
        justify-content: flex-end;
    }

    .bookingForm{
        display: flex;
        align-items: center;

    }

    input[type = "text"] {   
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #c7c7c7;
        border-radius: 4px;
        padding: 10px 5px;
        margin: 10px 5px;

    }
        .room-booking button,
        .room-booking span{
            border: none;
            padding:15px;
            margin: 10px 5px;
            min-width: fit-content;
            font-size: 16px;
            height: 50px;
            line-height: 16px;
            font-family: 'Roboto';
            border-radius: 3px;
            background: rgb(250, 73, 3);
            background-size: 18px;
            color: #fff;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
        }
        .room-booking span{
            background: rgb(255, 38, 0);
            padding:5px;
            height: fit-content;
        }

        .room-booking button:hover{
            background: rgb(223, 36, 3);
           
        }
    

    iframe{
        width: 100%;
        height: 30vh;
    }
    .room-review-list{
        height: auto;
        max-height: 300px;
        overflow: auto;
    }
        
        .user-rating  {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .user-rating  p {
            margin-right: 5px;;
        }
        .time-added p{
            margin: 0;
            font-size: 14px;
        }

           


            

/* STAR RATING SECTION */
/*set the default color of the stars*/

.star-rating{
    width: 100%;
    color: #bebebe;
    font-size:2em;
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    float: left;
    margin-bottom: 15px;
}
.my-star{
    margin-right: 5px;
    transition: all 0.2s;
    font-size: 20px;
}


.star-rating:not(:checked) > input {
    display: none;
}

/*set active star color*/
.is-active{
    color:#f1c707;
    transform: scale(1.3);
}

/*when an element is selected and pointer re-enters the rating container, selected rate and siblings get semi transparent, as reminder of current selection*/
.star-rating:hover > .my-star.is-active{ 
    color: #bebebe;
    transform: scale(1.0);
}

/*set color on hover*/
.star-rating > .my-star:not(.is-active):hover,
.star-rating > .my-star:not(.is-active):hover ~ .my-star:not(.is-active),
.star-rating > .my-star.is-active:hover,
.star-rating > .my-star:not(.is-active):hover ~ .my-star.is-active,
.star-rating > .my-star.is-active:hover ~ .my-star.is-active{ 
    color: #fb8900;
    transform: scale(1.3);

}


.user-comment{
    width: 100%;
    height: auto;
}

.user-comment textarea{
    width: 100%;
    resize: vertical;
    overflow: auto;
}

.action{
    margin: 10px 0;
    text-align: center;

}

    input[type="submit"] {
        border: none;
        padding:15px;
        font-size: 16px;
        line-height: 16px;
        font-family: 'Roboto';
        border-radius: 3px;
        background: rgb(250, 73, 3);
        background-size: 18px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
    }
    
    input[type="submit"]:hover{
        background: rgb(223, 36, 3);
    }

    .room-booking button:disabled {
        background-color: dimgrey;
        color: linen;
        opacity: 1;
    }
    

body > footer {
    background: #ccc;
    border-top: 3px solid #808080;
    flex-shrink: 0;
    }
        body > footer p {
            color: #616161;
            font-size: 13px;
            text-align: center;
            margin: 0;
            padding: 25px 0;
            
        }

/* https://codepen.io/facundocorradini/pen/MQmoLR */

@media (max-width: 1204px) {
    .container {
        width: 80%;
    }

} 

@media (max-width: 864px) {
    .room-details{
        line-height: 16px;
        font-size: 14px;
    }

} 

@media (max-width: 650px) {
    
    .room-hotel-info{
        max-width: 30%;
    }
    .room-details{
        line-height: 14px;
        font-size: 12px;
    }
    .room-data i{
        font-size: 16px;  
        align-self:center;
        
        top: 0; /* new */  
    }

    .room-data p{   
        font-size: 10px;
    }

    .room-data p:first-child{
        font-size: 16px;
    }

    .rating-reviews {
        border: none;
        margin: 5px 0;
        padding: 0;
    }

} 


@media (max-width: 404px) {
    
   
    .room-data i{
        font-size: 14px;    
    }

    .room-data p{   
        font-size: 8px;
    }

    .room-data p:first-child{
        font-size: 14px;
    }

} 





